# Introduction

NoSQL databases are a popular alternative to traditional relational databases for handling big data and it offers high scalability, high availability and high flexibility. The course will teach you how to work with NoSQL databases and how to choose the right NoSQL database for your specific needs. 

## Structure

- [Relational databases and tabular data](#RDBMs)
- [SQLite](#SQLite)
- [MySQL](#MySQL)
- [PostgreSQL](#PostgreSQL)
- [Intro to NoSQL](#NoSQL)
- [Exercises](#Exercise)


<a name="RDBMs"></a>
## Relational databases and tabular data

Before jumping straight on NoSQL DBs let's take a step back with relational databases and tabular data. The most common format you probably encountered in programming is Comma Separated Values (CSV). CSV is a plain text file format used to store tabular data, with each row of the table represented as a separate line in the file and each column separated by a comma or other delimiter.

In [1]:
import pandas as pd

df = pd.read_csv("data/Chap1/iris.csv")
df.head(5)

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [2]:
print(df["sepal.length"])
print(df.at[0,"sepal.length"])
print(df.loc[0])
df[(df["sepal.length"] > 3) & (df["petal.length"] > 1.2)]

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sepal.length, Length: 150, dtype: float64
5.1
sepal.length       5.1
sepal.width        3.5
petal.length       1.4
petal.width        0.2
variety         Setosa
Name: 0, dtype: object

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[146 rows x 5 columns]

In [3]:
# Iterate over all db

for row in df.iterrows():
    print(row)
    break

(0, sepal.length       5.1
sepal.width        3.5
petal.length       1.4
petal.width        0.2
variety         Setosa
Name: 0, dtype: object)

Yet tabular data are impractical for huge amount of data 

Relational databases are a type of database system that organize data into one or more tables or relations, with each table consisting of a set of rows and columns. Each row represents a unique record or entity, while each column represents a particular attribute or characteristic of that entity.

In a relational database, the tables are related to each other through common fields or keys. For example, if you have a customer table and an orders table, you could link them through a customer ID field, which would allow you to associate specific orders with specific customers.

Relational databases use a structured query language (SQL) to retrieve and manipulate data. SQL allows users to create, update, delete, and retrieve data from one or more tables based on specific criteria or conditions.

Relational databases offer several advantages, including:

- Data consistency: Data is consistent and standardized across an organization.

- Scalability: Relational databases can handle large amounts of data and can easily scale as data volumes increase (Data not in your RAM).

- Flexibility: Changes to a database structure can be made relatively easily and without disrupting existing applications or data.

- Security: Relational databases offer built-in security features, such as user authentication and access control, to protect sensitive data.

<a name="SQLite"></a>
## SQLite

I'll do a short introduction on sqlite3. I think it's a good entry point to SQL since its local and you can still monitor your data visually using [DB Browser](https://sqlitebrowser.org/).

"SQLite is a C-language library that implements a small, fast, self-contained, high-reliability, full-featured, SQL database engine." [(Official website)](https://www.sqlite.org/index.html). Sqlite3 is a library that provides an api that allows python 3 to interact with your sqlite DB. Incompatibility with python 2 so beware.

You can use [DB browser](https://sqlitebrowser.org/) to check if it worked without going through Python. Sqlite3+DB browser is an easy entry point to SQL (still able to see your data, no server involved). Here is an example of basic operations of SQLite on the iris database. Starting with DB already existing:

In [5]:
import sqlite3

#  Establishes a connection to an SQLite database file. The only argument is the path (If the file does not exist and empty file is created)
conn = sqlite3.connect('data/Chap1/iris.db')

# A cursor in SQL databases is a database object that allows you to retrieve and manipulate a set of data rows returned by a SQL statement, one row at a time.
c = conn.cursor()

# READ query (SQL language), Look at all the iris with sepal length > 5.
c.execute("""SELECT * FROM iris WHERE "petal.length" > 5""")

#%% Two methods to go through your result

# All in RAM
docs = c.fetchall()
print(docs)

# Iteration

c.execute("""SELECT * FROM iris WHERE "petal.length" > 5""")

for i in c:
    print(i)
    break

[(5.067723578521725e+17, 2.7, 5.1, 1.6, 'Versicolor'), (6.3, 3.3, 6.0, 2.5, 'Virginica'), (5.8, 2.7, 5.1, 1.9, 'Virginica'), (7.1, 3, 5.9, 2.1, 'Virginica'), (6.3, 2.9, 5.6, 1.8, 'Virginica'), (6.5, 3, 5.8, 2.2, 'Virginica'), (7.6, 3, 6.6, 2.1, 'Virginica'), (7.3, 2.9, 6.3, 1.8, 'Virginica'), (6.7, 2.5, 5.8, 1.8, 'Virginica'), (7.2, 3.6, 6.1, 2.5, 'Virginica'), (6.5, 3.2, 5.1, 2.0, 'Virginica'), (6.4, 2.7, 5.3, 1.9, 'Virginica'), (6.8, 3, 5.5, 2.1, 'Virginica'), (5.8, 2.8, 5.1, 2.4, 'Virginica'), (6.4, 3.2, 5.3, 2.3, 'Virginica'), (6.5, 3, 5.5, 1.8, 'Virginica'), (7.7, 3.8, 6.7, 2.2, 'Virginica'), (7.7, 2.6, 6.9, 2.3, 'Virginica'), (6.9, 3.2, 5.7, 2.3, 'Virginica'), (7.7, 2.8, 6.7, 2.0, 'Virginica'), (6.7, 3.3, 5.7, 2.1, 'Virginica'), (7.2, 3.2, 6.0, 1.8, 'Virginica'), (6.4, 2.8, 5.6, 2.1, 'Virginica'), (7.2, 3, 5.8, 1.6, 'Virginica'), (7.4, 2.8, 6.1, 1.9, 'Virginica'), (7.9, 3.8, 6.4, 2.0, 'Virginica'), (6.4, 2.8, 5.6, 2.2, 'Virginica'), (6.3, 2.8, 5.1, 1.5, 'Virginica'), (6.1, 2.6, 5.6, 1.4, 'Virginica'), (7.7, 3, 6.1, 2.3, 'Virginica'), (6.3, 3.4, 5.6, 2.4, 'Virginica'), (6.4, 3.1, 5.5, 1.8, 'Virginica'), (6.9, 3.1, 5.4, 2.1, 'Virginica'), (6.7, 3.1, 5.6, 2.4, 'Virginica'), (6.9, 3.1, 5.1, 2.3, 'Virginica'), (5.8, 2.7, 5.1, 1.9, 'Virginica'), (6.8, 3.2, 5.9, 2.3, 'Virginica'), (6.7, 3.3, 5.7, 2.5, 'Virginica'), (6.7, 3, 5.2, 2.3, 'Virginica'), (6.5, 3, 5.2, 2.0, 'Virginica'), (6.2, 3.4, 5.4, 2.3, 'Virginica'), (5.9, 3, 5.1, 1.8, 'Virginica')]
(5.067723578521725e+17, 2.7, 5.1, 1.6, 'Versicolor')

In [6]:
# UPDATE

c.execute("""UPDATE iris
             SET "sepal.length" = 3
             WHERE variety == "Versicolor" """)

conn.commit()

In [7]:
c.execute("""UPDATE iris
             SET "sepal.length" = random()+1
             WHERE variety == "Versicolor" """)

conn.commit()

In [ ]:
# DELETE

c.execute("""DELETE FROM iris WHERE "sepal.length" > 5""")

#conn.commit() #warning it will alter your db

Now if the Database does not exist we can create it the following way

In [8]:
import tqdm
import sqlite3
import pandas as pd

df = pd.read_csv('data/Chap1/iris.csv')

conn = sqlite3.connect('data/Chap1/iris_manual.db')
c = conn.cursor()

# Simple function to create table

def create_table_iris():
    try:
        c.execute("""CREATE TABLE IF NOT EXISTS iris(id INT PRIMARY KEY, "sepal.length" FLOAT, "sepal.width" FLOAT,
                     "petal.length" FLOAT, "petal.width" FLOAT, variety TEXT)""")
        # When an index is created on a column, the database system creates a data structure that contains a sorted copy of the column's values. 
        # This allows the database system to perform data retrieval operations more quickly than if it had to scan the entire table every time a query was executed.
        c.execute("CREATE INDEX fast_id ON id(id)")
        conn.commit()
    except Exception as e:
        print(str(e))
        
# Sqlite3 excepts a table named "main" and therefore gives you a warning (can be ignored)
create_table_iris()

no such table: main.id

In [9]:
# One by one

query = """INSERT INTO iris(id, "sepal.length", "sepal.width", "petal.length", "petal.width", variety) VALUES (?,?,?,?,?,?)"""

for row in tqdm.tqdm(df.iterrows()):
    id_ = row[0]
    sepal_length = row[1]["sepal.length"]
    sepal_width = row[1]["sepal.width"]
    petal_length = row[1]["petal.length"]
    petal_width = row[1]["petal.width"]
    variety = row[1]["variety"]
    values = (id_,sepal_length,sepal_width,petal_length, petal_width,variety)
    c.execute(query, values)
    conn.commit()

150it [00:00, 231.03it/s]

In [10]:
# Aggregate function

import sqlite3

conn = sqlite3.connect('data/Chap1/iris_manual.db')
c = conn.cursor()

c.execute("""SELECT "petal.length", variety, AVG("petal.width"), SUM("petal.width"), COUNT("petal.width"), MIN("petal.width"), MAX("petal.width")
             FROM iris 
             GROUP BY variety
             """)

docs = c.fetchall()
print(docs)

[(1.6, 'Setosa', 0.2459999999999999, 12.299999999999995, 50, 0.1, 0.6), (4.8, 'Versicolor', 1.3259999999999998, 66.3, 50, 1.0, 1.8), (6.0, 'Virginica', 2.026, 101.29999999999998, 50, 1.4, 2.5)]

In [11]:
import sqlite3
import tqdm

conn = sqlite3.connect('data/Chap1/benchmark.db')
c = conn.cursor()

def create_table_benchmark():
    try:
        c.execute("""CREATE TABLE IF NOT EXISTS test(id INT PRIMARY KEY)""")
        c.execute("CREATE INDEX fast_id ON id(id)")
        conn.commit()
    except Exception as e:
        print(str(e))
        
create_table_benchmark()


query = """INSERT INTO test(id) VALUES (?)"""

for i in tqdm.tqdm(range(0,100,1)):
    values = (i,)
    c.execute(query, values)
    conn.commit()

no such table: main.id

100%|██████████| 100/100 [00:00<00:00, 224.79it/s]

In [12]:
import sqlite3
import tqdm

conn = sqlite3.connect('data/Chap1/benchmark.db')
c = conn.cursor()


def create_table_benchmark():
    try:
        c.execute("""CREATE TABLE IF NOT EXISTS test2(id INT PRIMARY KEY)""")
        c.execute("CREATE INDEX fast_id ON id(id)")
        conn.commit()
    except Exception as e:
        print(str(e))
        
create_table_benchmark()

query = """INSERT INTO test2(id) VALUES (?)"""

for i in tqdm.tqdm(range(0,1000000,1)):
    values = (i,)
    c.execute(query, values)
conn.commit()

no such table: main.id

100%|██████████| 1000000/1000000 [00:01<00:00, 511323.96it/s]

In [13]:
import sqlite3
import tqdm

conn = sqlite3.connect('data/Chap1/benchmark.db')
c = conn.cursor()

def create_table_benchmark():
    try:
        c.execute("""CREATE TABLE IF NOT EXISTS test3(id INT PRIMARY KEY)""")
        c.execute("CREATE INDEX fast_id ON id(id)")
        conn.commit()
    except Exception as e:
        print(str(e))
        
create_table_benchmark()

query = """INSERT INTO test3(id) VALUES (?)"""


list_of_insertion = []
for i in tqdm.tqdm(range(0,1000000,2)):
    values = (i,)
    list_of_insertion.append(values)
    if len(list_of_insertion) == 10000:
        c.executemany(query, list_of_insertion)
        list_of_insertion = []
conn.commit()

no such table: main.id

100%|██████████| 500000/500000 [00:00<00:00, 605883.72it/s]

Data won't be this clean in your day-to-day job. Let us take an example of a research article each observation can have different length of authors/references/...

In [14]:
# Init variables
authors = ["Auteur1","Auteur2","Auteur3"]
title = "This is paper 1"
affiliations = ["University of Mannheim","University of Strasbourg"]
ref = ["This is ref 1","This is ref 2","This is ref 3"]

In [15]:
# Collapse list

authors = "\n".join(authors)
aff = "\n".join(affiliations)
ref = "\n".join(ref)
print(authors)

Auteur1
Auteur2
Auteur3

In [16]:
# Create the DB
import sqlite3

conn = sqlite3.connect('data/Chap1/tuts.db')
c = conn.cursor()

def create_table_test():
    try:
        c.execute("""CREATE TABLE IF NOT EXISTS test(id INT PRIMARY KEY, authors TEXT,
                    title TEXT,affiliations TEXT, ref TEXT)""")
        c.execute("CREATE INDEX fast_id ON id(id)")
        conn.commit()
    except Exception as e:
        print(str(e))
        
create_table_test()

no such table: main.id

In [17]:
# SQL can be finicky when trying to insert using python, big difference between " and '
query = """INSERT INTO test(id, authors,title,affiliations, ref) VALUES (?,?,?,?,?)"""
values = (3,authors,title,aff, ref)
c.execute(query, values)
conn.commit()

IntegrityError: UNIQUE constraint failed: test.id

Now that we have a DB with multiple tables (benchmark) I think its time to introduce a fundamental concept in SQL: **Join**

**Join:** A join is an operation that combines rows from two or more tables based on a related column between them. It allows you to retrieve data from multiple tables simultaneously, based on a common column or set of columns. There is multiple types of join Left Join, Right Join, Full Join, Inner Join.

Since the goal of the course is NoSQL we will go more into details of the Joins in Chapter III. Here is a small example of left join.

In [19]:
import sqlite3

conn = sqlite3.connect('data/Chap1/benchmark.db')
c = conn.cursor()

c.execute("""SELECT test.id as id_table1, test3.id as id_table2
             FROM test 
             LEFT JOIN test3 
             ON test.id=test3.id
             """)

docs = c.fetchall()
print(docs)

[(0, 0), (1, None), (2, 2), (3, None), (4, 4), (5, None), (6, 6), (7, None), (8, 8), (9, None), (10, 10), (11, None), (12, 12), (13, None), (14, 14), (15, None), (16, 16), (17, None), (18, 18), (19, None), (20, 20), (21, None), (22, 22), (23, None), (24, 24), (25, None), (26, 26), (27, None), (28, 28), (29, None), (30, 30), (31, None), (32, 32), (33, None), (34, 34), (35, None), (36, 36), (37, None), (38, 38), (39, None), (40, 40), (41, None), (42, 42), (43, None), (44, 44), (45, None), (46, 46), (47, None), (48, 48), (49, None), (50, 50), (51, None), (52, 52), (53, None), (54, 54), (55, None), (56, 56), (57, None), (58, 58), (59, None), (60, 60), (61, None), (62, 62), (63, None), (64, 64), (65, None), (66, 66), (67, None), (68, 68), (69, None), (70, 70), (71, None), (72, 72), (73, None), (74, 74), (75, None), (76, 76), (77, None), (78, 78), (79, None), (80, 80), (81, None), (82, 82), (83, None), (84, 84), (85, None), (86, 86), (87, None), (88, 88), (89, None), (90, 90), (91, None), (92, 92), (93, None), (94, 94), (95, None), (96, 96), (97, None), (98, 98), (99, None)]

Consider a scenario where you've performed a left join operation, combining data from multiple tables, and you now want to work with this combined dataset without saving it permanently. You might find yourself repeatedly executing this join query whenever you need to perform more advanced operations, such as using aggregate functions. Alternatively, you may wish to streamline your script by creating a 'shortcut' that automatically executes this join query when needed, improving readability and maintainability.

This is where the concept of a **'View'** becomes valuable. A view in SQL allows you to define a virtual table based on a query's result set, without physically storing the data. Essentially, a view acts as a saved query that can be referenced like a table. It provides a convenient way to encapsulate complex queries and present data in a structured format.

It's important to note that while using a view enhances readability and organization of your SQL code, the underlying query defined in the view is still executed each time the view is accessed. Therefore, there's no performance gain in terms of execution time; rather, the benefit lies in improved code readability and maintainability."

In [20]:
import sqlite3

conn = sqlite3.connect('data/Chap1/benchmark.db')
c = conn.cursor()

# Create the view
c.execute("""CREATE VIEW test_join_view AS
             SELECT test.id as id_table1, test2.id as id_table2
             FROM test 
             LEFT JOIN test2 
             ON test.id=test2.id""")

# Commit the transaction
conn.commit()

# Close the connection
conn.close()

In [21]:
# Connect to the database
conn = sqlite3.connect('data/Chap1/benchmark.db')
c = conn.cursor()

# Query the view
c.execute("""SELECT * FROM test_join_view
             WHERE id_table1 > 50""")
docs = c.fetchall()
print(docs)

# Close the connection
conn.close()

[(51, 51), (52, 52), (53, 53), (54, 54), (55, 55), (56, 56), (57, 57), (58, 58), (59, 59), (60, 60), (61, 61), (62, 62), (63, 63), (64, 64), (65, 65), (66, 66), (67, 67), (68, 68), (69, 69), (70, 70), (71, 71), (72, 72), (73, 73), (74, 74), (75, 75), (76, 76), (77, 77), (78, 78), (79, 79), (80, 80), (81, 81), (82, 82), (83, 83), (84, 84), (85, 85), (86, 86), (87, 87), (88, 88), (89, 89), (90, 90), (91, 91), (92, 92), (93, 93), (94, 94), (95, 95), (96, 96), (97, 97), (98, 98), (99, 99)]

In [22]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('data/Chap1/benchmark.db')
c = conn.cursor()

# Drop the view
c.execute("DROP VIEW IF EXISTS test_join_view")

# Commit the transaction
conn.commit()

# Close the connection
conn.close()

CTE, subqueries, temptables

[Here]( https://www.sqltutorial.org/sql-cheat-sheet/) are some cheat sheet for SQL querys.

SQLite is really useful to learn the language but chances are you will work with an online server and will need to use things like MySQL, Oracle, PostgreSQL,...
The language is always (almost) the same but the way you will connect and run query might change.

<a name="MySQL"></a>
## MySQL

MySQL is an open-source relational database management system (RDBMS) that is based on the structure query language (SQL). It is developed, distributed, and supported by Oracle Corporation. It provides a powerful, scalable, and reliable platform for managing and manipulating large sets of data. MySQL is known for its ease of use, performance, and robustness, making it a widely adopted solution for various types of database-driven applications ranging from small-scale projects to enterprise-level systems.

Let's just do a simple example of MySQL:

From here https://dev.mysql.com/downloads/ you need to DL the community server, the workbench. Once they are all installed and the server is up and running you should be able to run the next code

In [1]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.3.0-cp39-cp39-win_amd64.whl (15.4 MB)
     --------------------------------------- 15.4/15.4 MB 11.9 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.3.0

In [18]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="root"
)

print(mydb) 

c = mydb.cursor()

c.execute("CREATE DATABASE mydatabase")

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001422BABDE50>

If a database already exist you can connect directly to it

In [19]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="root",
  database="mydatabase"
)

c = mydb.cursor()

c.execute("CREATE TABLE customers (name VARCHAR(255), address VARCHAR(255))")

You can now look at the DB in the workbench and execute query as seen in SQLite

For the rest of this section I will show you a more concrete examples. The data is from this [PowerBI tutorial](https://www.youtube.com/watch?v=e6QD8lP-m6E) (I really recommend it just to put PowerBI in your CV)

In [1]:
import pandas as pd
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="root",
  database="m1_ds2e"
)

c = mydb.cursor()

c.execute("SELECT * FROM sample_superstore")

docs = c.fetchall()

columns = [description[0] for description in c.description]
df = pd.DataFrame(docs, columns=columns)

In [7]:
[description for description in c.description]

[('Row ID', 3, None, None, None, None, 1, 32768, 63),
 ('Order Priority', 252, None, None, None, None, 1, 16, 255),
 ('Discount', 5, None, None, None, None, 1, 32768, 63),
 ('Unit Price', 5, None, None, None, None, 1, 32768, 63),
 ('Shipping Cost', 5, None, None, None, None, 1, 32768, 63),
 ('Customer ID', 3, None, None, None, None, 1, 32768, 63),
 ('Customer Name', 252, None, None, None, None, 1, 16, 255),
 ('Ship Mode', 252, None, None, None, None, 1, 16, 255),
 ('Customer Segment', 252, None, None, None, None, 1, 16, 255),
 ('Product Category', 252, None, None, None, None, 1, 16, 255),
 ('Product Sub-Category', 252, None, None, None, None, 1, 16, 255),
 ('Product Container', 252, None, None, None, None, 1, 16, 255),
 ('Product Name', 252, None, None, None, None, 1, 16, 255),
 ('Product Base Margin', 5, None, None, None, None, 1, 32768, 63),
 ('Region', 252, None, None, None, None, 1, 16, 255),
 ('State or Province', 252, None, None, None, None, 1, 16, 255),
 ('City', 252, None, None, None, None, 1, 16, 255),
 ('Postal Code', 3, None, None, None, None, 1, 32768, 63),
 ('Order Date', 252, None, None, None, None, 1, 16, 255),
 ('Ship Date', 252, None, None, None, None, 1, 16, 255),
 ('Profit', 5, None, None, None, None, 1, 32768, 63),
 ('Quantity ordered new', 3, None, None, None, None, 1, 32768, 63),
 ('Sales', 5, None, None, None, None, 1, 32768, 63),
 ('Order ID', 3, None, None, None, None, 1, 32768, 63)]

In [2]:
df.head()

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,...,Central,Illinois,Addison,60101,5/28/2012,5/30/2012,1.3200,2,5.90,88525
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,7/7/2010,7/8/2010,4.5600,4,13.01,88522
2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,7/27/2011,7/28/2011,-47.6400,7,49.92,88523
3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,7/27/2011,7/28/2011,-30.5100,7,41.64,88523
4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,...,West,Washington,Anacortes,98221,7/27/2011,7/27/2011,998.2023,8,1446.67,88523

In [6]:
df.columns

Index(['Row ID', 'Order Priority', 'Discount', 'Unit Price', 'Shipping Cost',
       'Customer ID', 'Customer Name', 'Ship Mode', 'Customer Segment',
       'Product Category', 'Product Sub-Category', 'Product Container',
       'Product Name', 'Product Base Margin', 'Region', 'State or Province',
       'City', 'Postal Code', 'Order Date', 'Ship Date', 'Profit',
       'Quantity ordered new', 'Sales', 'Order ID'],
      dtype='object')

I think this data is perfect to introduce more advanced concepts in SQL.

**Group by**: The GROUP BY clause in SQL is used to group rows that have the same values into summary rows, typically to perform aggregate functions on these groups. When you use GROUP BY, you are essentially creating groups of rows based on the values of one or more columns, and then applying aggregate functions to each group.

In [3]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="root",
    database="m1_ds2e"
)

c = mydb.cursor()

c.execute( """
SELECT Region, AVG(Profit) AS avg_profit
FROM sample_superstore
GROUP BY Region
""")

docs = c.fetchall()
print(docs)

[('Central', 44.14113552), ('West', 216.86692875949382), ('East', 117.24983701250001), ('South', -37.02356666666667)]

**Window function**: Window functions perform calculations across a set of rows related to the current row within a query result set. They allow you to perform calculations and aggregations without grouping the result set into single rows, providing a more flexible and powerful way to analyze data.

In [9]:
import pandas as pd
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="root",
  database="m1_ds2e"
)

c = mydb.cursor()

c.execute( """
SELECT Region, Profit,
AVG(Profit) OVER (PARTITION BY Region) AS profit_rank
FROM sample_superstore
""")

docs = c.fetchall()
df = pd.DataFrame(docs, columns=["Region","Profit","Profit_Rank"])

In [6]:
print(df[df["Region"]=="Central"])

     Region       Profit  Profit_Rank
0   Central   803.470500            1
1   Central   691.317900            2
2   Central   526.608000            3
3   Central   499.649700            4
4   Central   458.622000            5
5   Central   433.220480            6
6   Central   391.719900            7
7   Central   349.409100            8
8   Central   338.624400            9
9   Central   229.059300           10
10  Central   185.266000           11
11  Central   173.662720           12
12  Central    97.360000           13
13  Central    94.819800           14
14  Central    77.372000           15
15  Central    67.847700           16
16  Central    60.809700           17
17  Central    25.116000           18
18  Central    23.844000           19
19  Central    23.820000           20
20  Central    18.882580           21
21  Central     7.270000           22
22  Central     2.140000           23
23  Central     1.320000           24
24  Central     0.770000           25
25  Central    -0.710000           26
26  Central    -5.112000           27
27  Central    -8.370000           28
28  Central   -12.820000           29
29  Central   -15.464000           30
30  Central   -17.680000           31
31  Central   -24.030000           32
32  Central   -24.214400           33
33  Central   -27.600924           34
34  Central   -30.480000           35
35  Central   -30.540000           36
36  Central   -37.030000           37
37  Central   -41.820000           38
38  Central   -44.540000           39
39  Central   -45.100000           40
40  Central   -51.250000           41
41  Central   -53.784000           42
42  Central   -85.274640           43
43  Central   -96.590000           44
44  Central  -103.968480           45
45  Central  -157.180000           46
46  Central  -180.466560           47
47  Central  -231.600000           48
48  Central  -929.680000           49
49  Central -1119.640000           50

In [10]:
df

      Region       Profit  Profit_Rank
0    Central     1.320000    44.141136
1    Central    60.809700    44.141136
2    Central   -27.600924    44.141136
3    Central   -51.250000    44.141136
4    Central   338.624400    44.141136
..       ...          ...          ...
170     West  1451.939400   216.866929
171     West    95.378700   216.866929
172     West   845.664000   216.866929
173     West  -239.419200   216.866929
174     West -1301.814000   216.866929

[175 rows x 3 columns]

**Case statement**: 
The CASE statement in SQL is a powerful and flexible tool for performing conditional logic within queries. It allows you to evaluate one or more conditions and return a result based on the outcome of those conditions. The basic syntax of the CASE statement is as follows:

In [11]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="root",
    database="m1_ds2e"
)

c = mydb.cursor()

c.execute( """
SELECT `Product Name`, Discount,
    CASE 
        WHEN Discount >= 0.05 THEN 'High discount'
        ELSE 'Low discount'
    END AS Discount_Category
FROM sample_superstore
""")

docs = c.fetchall()
print(docs)

[('Avery 49', 0.01, 'Low discount'), ('SANFORD Liquid Accentâ„¢ Tank-Style Highlighters', 0.01, 'Low discount'), ('Xerox 1968', 0.03, 'Low discount'), ('AcmeÂ® Preferred Stainless Steel Scissors', 0.01, 'Low discount'), ('V70', 0.0, 'Low discount'), ('Xerox 194', 0.09, 'High discount'), ('Canon S750 Color Inkjet Printer', 0.08, 'High discount'), ('Global Troyâ„¢ Executive Leather Low-Back Tilter', 0.02, 'Low discount'), ('Xerox 1930', 0.08, 'High discount'), ('Kensington 6 Outlet MasterPieceÂ® HOMEOFFICE Power Control Center', 0.01, 'Low discount'), ('Xerox 21', 0.07, 'High discount'), ('*Staples* Highlighting Markers', 0.01, 'Low discount'), ('Accessory34', 0.1, 'High discount'), ('Xerox 1933', 0.05, 'High discount'), ('Sauder Forest Hills Library, Woodland Oak Finish', 0.08, 'High discount'), ('Riverside Furniture Stanwyck Manor Table Series', 0.1, 'High discount'), ('Park Ridgeâ„¢ Embossed Executive Business Envelopes', 0.06, 'High discount'), ('DAX Two-Tone Rosewood/Black Document Frame, Desktop, 5 x 7', 0.06, 'High discount'), ('FiskarsÂ® Softgrip Scissors', 0.04, 'Low discount'), ('Howard Miller 12-3/4 Diameter Accuwave DS â„¢ Wall Clock', 0.09, 'High discount'), ('Newell 321', 0.08, 'High discount'), ('Newell 351', 0.05, 'High discount'), ('OIC Colored Binder Clips, Assorted Sizes', 0.05, 'High discount'), ('Xerox 213', 0.01, 'Low discount'), ('Grip Seal Envelopes', 0.0, 'Low discount'), ('Tyvek Â® Top-Opening Peel & Seel Â® Envelopes, Gray', 0.01, 'Low discount'), ('Newell 310', 0.03, 'Low discount'), ('Xerox 1992', 0.04, 'Low discount'), ('Master Giant FootÂ® Doorstop, Safety Yellow', 0.0, 'Low discount'), ('Avery 05222 Permanent Self-Adhesive File Folder Labels for Typewriters, on Rolls, White, 250/Roll', 0.07, 'High discount'), ('Staples Gold Paper Clips', 0.04, 'Low discount'), ('StarTAC 7797', 0.05, 'High discount'), ('GBC Laser Imprintable Binding System Covers, Desert Sand', 0.08, 'High discount'), ('Dixon My First Ticonderoga Pencil, #2', 0.05, 'High discount'), ('Hoover Commercial Soft Guard Upright Vacuum And Disposable Filtration Bags', 0.05, 'High discount'), ('DAX Natural Wood-Tone Poster Frame', 0.05, 'High discount'), ('Belkin F9M820V08 8 Outlet Surge', 0.08, 'High discount'), ('Fellowes Twister Kit, Gray/Clear, 3/pkg', 0.07, 'High discount'), ('Advantus Plastic Paper Clips', 0.08, 'High discount'), ('Office Star Flex Back Scooter Chair with White Frame', 0.02, 'Low discount'), ('Avery 485', 0.01, 'Low discount'), ('Hewlett Packard 6S Scientific Calculator', 0.07, 'High discount'), ('Space Solutions Commercial Steel Shelving', 0.06, 'High discount'), ('Anderson Hickey Conga Table Tops & Accessories', 0.0, 'Low discount'), ('Xerox 197', 0.0, 'Low discount'), ('DAX Natural Wood-Tone Poster Frame', 0.05, 'High discount'), ('Advantus Plastic Paper Clips', 0.08, 'High discount'), ('Hewlett Packard 6S Scientific Calculator', 0.07, 'High discount'), ('Xerox 197', 0.0, 'Low discount'), ('Dixon My First Ticonderoga Pencil, #2', 0.05, 'High discount'), ('Hoover Commercial Soft Guard Upright Vacuum And Disposable Filtration Bags', 0.05, 'High discount'), ('Belkin F9M820V08 8 Outlet Surge', 0.08, 'High discount'), ('Fellowes Twister Kit, Gray/Clear, 3/pkg', 0.07, 'High discount'), ('Space Solutions Commercial Steel Shelving', 0.06, 'High discount'), ('Anderson Hickey Conga Table Tops & Accessories', 0.0, 'Low discount'), ('Office Star Flex Back Scooter Chair with White Frame', 0.02, 'Low discount'), ('Avery 485', 0.01, 'Low discount'), ('Nu-Dell Leatherette Frames', 0.05, 'High discount'), ('Xerox 1979', 0.0, 'Low discount'), ('Xerox 1929', 0.07, 'High discount'), ('BPI Conference Tables', 0.1, 'High discount'), ('Xerox 194', 0.06, 'High discount'), ('Newell 323', 0.02, 'Low discount'), ('V70', 0.07, 'High discount'), ('Boston 1730 StandUp Electric Pencil Sharpener', 0.06, 'High discount'), ('Harmony HEPA Quiet Air Purifiers', 0.07, 'High discount'), ('Xerox 1992', 0.05, 'High discount'), ('3M Office Air Cleaner', 0.06, 'High discount'), ('Dual Level, Single-Width Filing Carts', 0.05, 'High discount'), ('Belkin 8 Outlet SurgeMaster II Gold Surge Protector', 0.08, 'High discount'), ('Avery 498', 0.0, 'Low discount'), ('Avery 52', 0.09, 'High discount'), ('V 3600 Series', 0.06, 'High discount'), ('Eldon Image Series Black Desk Accessories', 0.04, 'Low discount'), ('Xerox 1880', 0.1, 'High discount'), ('Xerox 194', 0.06, 'High discount'), ('Coloredge Poster Frame', 0.06, 'High discount'), ('SC-3160', 0.01, 'Low discount'), ('Newell 346', 0.06, 'High discount'), ('Holmes Harmony HEPA Air Purifier for 17 x 20 Room', 0.07, 'High discount'), ('StarTAC Series', 0.08, 'High discount'), ('Avery 481', 0.08, 'High discount'), ('Xerox 1966', 0.01, 'Low discount'), ('Hunt BostonÂ® Vacuum Mount KS Pencil Sharpener', 0.08, 'High discount'), ('Canon P1-DHIII Palm Printing Calculator', 0.01, 'Low discount'), ('StarTAC 3000', 0.09, 'High discount'), ('TimeportP7382', 0.06, 'High discount'), ('Canon PC940 Copier', 0.06, 'High discount'), ('Storex DuraTech Recycled Plastic Frosted Binders', 0.03, 'Low discount'), ('Newell 338', 0.04, 'Low discount'), ('Wilson Jones Turn Tabs Binder Tool for Ring Binders', 0.05, 'High discount'), ('Novimex High-Tech Fabric Mesh Task Chair', 0.05, 'High discount'), ('Staples Copy Paper (20Lb. and 84 Bright)', 0.05, 'High discount'), ('Polycom ViewStationâ„¢ ISDN Videoconferencing Unit', 0.0, 'Low discount'), ('StarTAC 7760', 0.07, 'High discount'), ('Xerox 1968', 0.03, 'Low discount'), ('Xerox 1978', 0.1, 'High discount'), ('Newell 323', 0.02, 'Low discount'), ('SANFORD Major Accentâ„¢ Highlighters', 0.1, 'High discount'), ('Boston Electric Pencil Sharpener, Model 1818, Charcoal Black', 0.07, 'High discount'), ('Iris Project Case', 0.09, 'High discount'), ('KF 788', 0.09, 'High discount'), ('Accessory29', 0.03, 'Low discount'), ('AT&T 2230 Dual Handset Phone With Caller ID/Call Waiting', 0.0, 'Low discount'), ('AcmeÂ® Forged Steel Scissors with Black Enamel Handles', 0.05, 'High discount'), ('Global Deluxe Office Fabric Chairs', 0.06, 'High discount'), ('Belkin 7 Outlet SurgeMaster Surge Protector with Phone Protection', 0.1, 'High discount'), ('Advantus Push Pins, Aluminum Head', 0.08, 'High discount'), ('Microsoft Multimedia Keyboard', 0.0, 'Low discount'), ('Executive Impressions 12" Wall Clock"', 0.0, 'Low discount'), ('Canon P1-DHIII Palm Printing Calculator', 0.06, 'High discount'), ('Avery 506', 0.07, 'High discount'), ('Self-Adhesive Address Labels for Typewriters by Universal', 0.03, 'Low discount'), ('Accessory37', 0.01, 'Low discount'), ('Verbatim DVD-R 4.7GB authoring disc', 0.06, 'High discount'), ('Fellowes Command Center 5-outlet power strip', 0.08, 'High discount'), ('#10- 4 1/8" x 9 1/2"" Security-Tint Envelopes"', 0.04, 'Low discount'), ('GBC Binding covers', 0.04, 'Low discount'), ('3390', 0.0, 'Low discount'), ('Fellowes 17-key keypad for PS/2 interface', 0.1, 'High discount'), ('Hewlett-Packard Deskjet 6122 Color Inkjet Printer', 0.06, 'High discount'), ('12 Colored Short Pencils', 0.09, 'High discount'), ('PizazzÂ® Global Quick Fileâ„¢', 0.07, 'High discount'), ('6160', 0.0, 'Low discount'), ('TDK 4.7GB DVD-R Spindle, 15/Pack', 0.02, 'Low discount'), ('Deflect-OÂ® Glasstiqueâ„¢ Clear Desk Accessories', 0.08, 'High discount'), ('Okidata Pacemark 4410N Wide Format Dot Matrix Printer', 0.07, 'High discount'), ('Xerox 1903', 0.02, 'Low discount'), ('Avery 481', 0.09, 'High discount'), ('Hon 61000 Series Interactive Training Tables', 0.03, 'Low discount'), ("O'Sullivan Elevations Bookcase, Cherry Finish", 0.07, 'High discount'), ('Artistic Insta-Plaque', 0.01, 'Low discount'), ('Lesro Sheffield Collection Coffee Table, End Table, Center Table, Corner Table', 0.04, 'Low discount'), ('Durable Pressboard Binders', 0.06, 'High discount'), ('Newell 310', 0.06, 'High discount'), ('TOPS Voice Message Log Book, Flash Format', 0.04, 'Low discount'), ('Newell 312', 0.01, 'Low discount'), ('Storex Dura Proâ„¢ Binders', 0.1, 'High discount'), ('6190', 0.1, 'High discount'), ('GBC DocuBind 300 Electric Binding Machine', 0.1, 'High discount'), ('5185', 0.1, 'High discount'), ('Hunt BOSTONÂ® VistaÂ® Battery-Operated Pencil Sharpener, Black', 0.06, 'High discount'), ('Xerox 1930', 0.08, 'High discount'), ('Newell 339', 0.02, 'Low discount'), ('Hoover Replacement Belts For Soft Guardâ„¢ & Commercial Ltweight Upright Vacs, 2/Pk', 0.0, 'Low discount'), ('DMI Arturo Collection Mission-style Design Wood Chair', 0.09, 'High discount'), ('Eldon Base for stackable storage shelf, platinum', 0.02, 'Low discount'), ('AveryÂ® Durable Slant Ring Binders With Label Holder', 0.08, 'High discount'), ('Newell 340', 0.03, 'Low discount'), ('Global Leather Task Chair, Black', 0.08, 'High discount'), ("O'Sullivan 5-Shelf Heavy-Duty Bookcases", 0.05, 'High discount'), ('Staples Bulk Pack Metal Binder Clips', 0.03, 'Low discount'), ('Peel-OffÂ® China Markers', 0.1, 'High discount'), ('Xerox 191', 0.04, 'Low discount'), ('Verbatim DVD-R, 3.95GB, SR, Mitsubishi Branded, Jewel', 0.0, 'Low discount'), ('Verbatim DVD-RAM, 5.2GB, Rewritable, Type 1, DS', 0.0, 'Low discount'), ('Xerox 193', 0.02, 'Low discount'), ('Snap-A-WayÂ® Black Print Carbonless Speed Message, No Reply Area, Duplicate', 0.04, 'Low discount'), ('Dixon My First Ticonderoga Pencil, #2', 0.09, 'High discount'), ('IrisÂ® 3-Drawer Stacking Bin, Black', 0.02, 'Low discount'), ('Tripp Lite Isotel 8 Ultra 8 Outlet Metal Surge', 0.07, 'High discount'), ('Belkin 8 Outlet SurgeMaster II Gold Surge Protector', 0.02, 'Low discount'), ('3390', 0.06, 'High discount'), ('Document Clip Frames', 0.1, 'High discount'), ('Canon MP100DHII Printing Calculator', 0.04, 'Low discount'), ('Avery 501', 0.0, 'Low discount'), ('5165', 0.02, 'Low discount'), ('Deflect-o RollaMat Studded, Beveled Mat for Medium Pile Carpeting', 0.03, 'Low discount'), ('Accessory6', 0.05, 'High discount'), ('iDEN i550', 0.01, 'Low discount'), ('Multimedia Mailers', 0.09, 'High discount'), ('Black Print Carbonless Snap-OffÂ® Rapid Letter, 8 1/2" x 7"""', 0.06, 'High discount'), ('Dual Level, Single-Width Filing Carts', 0.05, 'High discount'), ('Hon 4070 Series Pagodaâ„¢ Armless Upholstered Stacking Chairs', 0.0, 'Low discount'), ('Hon Valutaskâ„¢ Swivel Chairs', 0.07, 'High discount')]

The last thing I want to show you is **Trigger Event**. A trigger event, in the context of databases, refers to an action or operation that occurs within the database system and triggers the execution of a trigger. Triggers are special types of stored procedures that are automatically invoked in response to predefined events or actions, such as INSERT, UPDATE, DELETE operations on a table, or database-specific events like startup or shutdown. To demonstrate this we will create a new table which is an aggregate of profit and once a row is added in the original table then a trigger will launch to add a new row with the sum of porift and date.

In [12]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="root",
    database="m1_ds2e"
)

c = mydb.cursor()

c.execute( """
CREATE TABLE profit_summary (
    Total_Profit DECIMAL(10, 2),
    Date_insert DATE DEFAULT (CURRENT_DATE)
)
""")

In [13]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="root",
    database="m1_ds2e"
)

c = mydb.cursor()

c.execute( """
CREATE TRIGGER update_profit_agg
AFTER INSERT ON Profit
FOR EACH ROW
BEGIN
    DECLARE total_profit DECIMAL(10, 2);
    SELECT SUM(Profit) INTO total_profit
    FROM Profit;
    INSERT INTO profit_summary (Total_Profit) VALUES (total_profit);
END;
""")

In [15]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="root",
    database="m1_ds2e"
)

c = mydb.cursor()

c.execute("""
INSERT INTO Profit (Profit) VALUES (25550)
""")
mydb.commit()

<a name="PostgreSQL"></a>
## PostgreSQL

https://www.enterprisedb.com/downloads/postgres-postgresql-downloads
PostgreSQL, often referred to as "Postgres," is an advanced open-source relational database management system (RDBMS) known for its robustness, reliability, and feature-rich capabilities. It is widely recognized for its adherence to SQL standards, extensibility, and support for advanced data types and features. For this section we will work on a dataset from UCI https://archive.ics.uci.edu/dataset/222/bank+marketing

In [17]:
import pandas as pd

df = pd.read_csv("data/Chap1/bank_full.csv")
df.columns

Index(['age', 'job', 'marital', 'education', 'default_', 'balance', 'housing',
       'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'y'],
      dtype='object')

In [ ]:
!pip install psycopg2

In [7]:
import psycopg2

# Connect to PostgreSQL database
conn = psycopg2.connect(dbname="new_db", user="postgres", password="root", host="localhost",  port="5432")

In [2]:
# Create a cursor object
cur = conn.cursor()

# Define the table schema
table_name = "bank_full"
columns = [
    "age INTEGER",
    "job VARCHAR(100)",
    "marital VARCHAR(20)",
    "education VARCHAR(100)",
    "default_ VARCHAR(10)",
    "balance NUMERIC",
    "housing VARCHAR(10)",
    "loan VARCHAR(10)",
    "contact VARCHAR(100)",
    "day INTEGER",
    "month VARCHAR(20)",
    "duration INTEGER",
    "campaign INTEGER",
    "pdays INTEGER",
    "previous INTEGER",
    "poutcome VARCHAR(100)",
    "y VARCHAR(10)"
]

# Construct the CREATE TABLE query
create_table_query = (
    "CREATE TABLE IF NOT EXISTS " + table_name + " (" +
    ", ".join(columns) +
    ")"
)

# Execute the CREATE TABLE query
cur.execute(create_table_query)

# Commit the transaction
conn.commit()

# Close cursor and connection
cur.close()
conn.close()

<a name="NoSQL"></a>
## NoSQL

A csv (or RDBMS) works but is it really efficient ? Imagine a scenario with even more nested data (each author has an aff, an aff can have a list a members, each members has an age, ...).You could create different tables but each time you will need to join information of this different tables. That's where NoSQL comes in to save the day.


Modifying the architecture in SQL is clunky. A lot of time is invested designing the data model because changes will impact all or most of the layers in the application.

NoSQL is:
- Meant for unstructured data.
- Designed to manage lots of traffic and data.
- Has no predefined schema.
- Easy to query.

Because of the context (Big Data), Unstructured data has become more and more present hence the interest in NoSQL. Indeed JSON (more on that in chapter I) data is the commonly used data format in Javascript and Javascript is present everywhere in almost every web page (dynamic vs static).

The biggest advantage of NoSQL is that you get to skip the "understand your data and usage patterns" steps. But is it really an advantage ?

NoSQL cons:
- Don't really know what you are working with
- Multiplicity of different DB (Meaning different "language" for some)
- Flexible but can become messy so watch out

IMO: Use SQL when you have a Static data flow or the change in the data is not regular and if the data fits in a row-column format. It's always better to have a good structure even if it asks to put a lot of work before hand. If you need flexibility or the data is really nested using Nosql DBs reduces the need for joins and lookups, making your queries faster.

<p style="text-align: center;"><b>Proportion of DBs usage</b></p>

![test](./img/DB_piechart.png "Title")

Nothing new but we are surrounded by a lot of data, information flows faster than ever (i.e: big data). But what exactly is the type of data we get in huge quantity ? Text, Networks, Sound, Image, ...

## What is NoSQL ? SQL vs NoSQL

NoSQL stands for "Not only SQL", every database that does not use SQL (Structured Query Language) is called NoSQL even though every NoSQL DB does not work the same way. The difference between SQL and NoSQL databases is really just a comparison of relational vs. non-relational databases. Deciding when to use SQL vs. NoSQL depends on the kind of information you’re storing and the best way to store it. Both types store data, they just store data differently.
Imagine you have a list of variables for research papers. authors, affiliations, title, references. How do you store it in a csv ?

The popularity of DBs using SQL is still high (3/4). In your opinion why ?

<p style="text-align: center;"><b>Non exhaustive list of companies using NoSQL</b></p>

<table><tr>
<td> <img src="./img/Google.png" alt="Drawing" style="width: 150px;"/> </td>
<td> <img src="./img/Amazon logo.png" alt="Drawing" style="width: 150px;"/> </td>
<td> <img src="./img/Facebook.png" alt="Drawing" style="width: 150px;"/> </td>
<td> <img src="./img/Mozilla.png" alt="Drawing" style="width: 150px;"/> </td>
<td> <img src="./img/netflix.png" alt="Drawing" style="width: 150px;"/> </td>
<td> <img src="./img/Twitter.png" alt="Drawing" style="width: 150px;"/> </td>
</tr></table>

Think before using one or the other.

Before jumping into NoSQL directly we will take a look at what a unstructured data format looks like.

<a name="Exercise"></a>
## Exercises

## SQLITE

**1**: Read all the data from bc.csv, how many rows is there ? Columns ? 

**2**: Insert the bc.csv in the sqlite format.

**3**: In the same db create a new table called tomatch with two variables id_ and rdm_float. 

**4**: In the table tomatch insert observations where the id_ starts from 50k, ends at 10000000 and is only even numbers. rdm_float is a random float for each observation.

**5**: Do an Inner join between the two tables and compute the different aggregate functions on a column of your choice.

**6**: How many observations have a radius_mean greater than 15 ? From them how many have a texture_mean greater than 20 ?

**7**: For each category in diagnosis do the mean of a variable and round it to get only 2 numbers after the comma. Compute the difference between the mean of both groups


**8**: Change the name of the column "diagnosis" to "label"

**9**: Add a column named "day" of type DATE.

**10**: Change the type of the column "area_mean" to int (hint, not possible on sqlite, create a new column)

**11**: create a new table called tomatch2 exactly the same way as tomatch except you increment id_ by 10.

**12**: Do an inner join of bc, tomatch and tomatch2 where the radius_mean is greater than 15, and the rdm_float is greater than 0.50 in tomatch AND tomatch2. 

## MySQL

**1**: How many orders were placed in total?

**2**: What is the total sales amount?

**3**: What is the average profit per order?

**4**: Which customer has placed the most orders?

**5**: What is the total profit for each product category?

**6**: What is the average discount percentage?

**7**: Which region has the highest total sales?

**8**: How many orders were shipped using each shipping mode?

**9**: What is the total quantity ordered for each product sub-category?

**10**: Which product has the highest profit margin?

**11**: What is the total sales amount for each year?

**12**: Which customer segment has the highest average sales?

## PostgreSQL

**1**: What is the average age of the customers?

**2**: How many customers have defaulted on loans?

**3**: What is the maximum balance in the account?

**4**: How many customers have a housing loan?

**5**: What is the education level of the youngest customer?

**6**: What is the marital status of the oldest customer?

**7**: What is the distribution of the months in which customers were last contacted?

**8**: What is the average duration of contact for customers who have a personal loan?

**9**: How many customers were previously contacted, and what was the average duration of their last contact?

**10**: What is the distribution of job types among customers?

**11**: How many customers have been contacted more than once in the current campaign?

**12**: What is the success rate of previous marketing campaigns (poutcome) among customers